<div class="col-sm-6 col-md-4 col-lg-3 d-flex">
  <div class="card mb-4" style="width: 18rem;">
    <%= image_tag venue.image, class: 'img-fluid' if venue.image.attached?  %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">
        <%= venue.name %>
      </h5>
      <p class="card-text d-flex">
        <%= venue.description %>
        <div class="mt-auto">
          <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#22292f">
              <path d="M20 18.35V19a1 1 0 0 1-1 1h-2A17 17 0 0 1 0 3V1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4c0 .56-.31 1.31-.7 1.7L3.16 8.84c1.52 3.6 4.4 6.48 8 8l2.12-2.12c.4-.4 1.15-.71 1.7-.71H19a1 1 0 0 1 .99 1v3.35z" />
            </svg>
          </span>
          <%= venue.phone %>
        </div>
      </p>
      <%= link_to 'Ver más', venue_path(venue), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
