<tr>
  <td>
    <%= venue.name %>
  </td>
  <td>
    <%= venue.description %>
  </td>
  <td>
    <%= venue.phone %>
  </td>
  <td class="text-right">
    <%= link_to 'Ver', admin_venue_path(venue), class: 'btn btn-outline-dark' %>
    <%= link_to 'Editar', edit_admin_venue_path(venue), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_venue_path(venue), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>
