<div class="container mx-auto my-4">
  <div class="panel">
    <div class="panel__header">
      <h5 class="mr-auto">
        <%= @venue.name %>
      </h5>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          ...
        </button>
        <div class="dropdown-menu">
          <%= link_to t('actions.edit'), edit_admin_venue_path(@venue), class: 'dropdown-item' %>
          <%= link_to t('actions.destroy'), admin_venue_path(@venue), class: 'dropdown-item', method: :delete, data: { confirm: t('actions.confirm') } %>
        </div>
      </div>
    </div>
    <div class="panel__content">
      <div class="mb-2">
        <p>
          <%= image_tag @venue.image, style: 'width: 300px; height: 160px', class: 'img-fluid' if @venue.image.attached? %>
        </p>
        <p><strong>
            Descripción:</strong>
          <%= @venue.description %>
        </p>
        <p><strong>
            Teléfono:</strong>
          <%= @venue.phone %>
        </p>
      </div>
      <div class="my-5">
        <div class="d-flex py-2">
          <h5 class="mr-auto">Actividades</h5>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="border-top-0" scope="col-6">Centro</th>
              <th class="border-top-0" scope="col-6">Nombre</th>
              <th class="border-top-0" scope="col-6">Descripción</th>
              <th class="border-top-0" scope="col-6">Horario</th>
              <th class="border-top-0" scope="col-6">Dificultad</th>
              <th class="border-top-0" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'admin/activities/activity', collection: @venue.activities.by_name %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
