<tr>
  <td>
    <%= link_to activity.venue.name, admin_venue_path(activity.venue) %>
  </td>
  <td>
    <%= activity.name %>
  </td>
  <td>
    <%= activity.description %>
  </td>
  <td>
    <%= activity.schedule %>
  </td>
   <td>
    <%= activity.complexity %>
  </td>

   <td>
    <%= activity.categories.map(&:name).join(', ') %>
  </td>
  

  <td class="text-right">
    <%= link_to 'Editar', edit_admin_activity_path(activity), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_activity_path(activity), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>
