<tr>
  <td>
    <%= link_to  category.name,admin_category_path(category)  %>
  </td>
  <td style="text-align: justify;">
    <%= category.description %>
  </td>
  <td>
    <%= link_to 'Ver', admin_category_path(category), class: 'btn btn-outline-dark' %>
    <%= link_to 'Editar', edit_admin_category_path(category), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_category_path(category), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>